*{
  padding: 0 auto;
  margin: 0 auto;
}

body{
  width: 80%;
  font-family: Helvetica;
}

.riga::after{
  content: '';
  display: table;
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .prodotto img{
   width: 100%;
   margin-bottom: 10px;
 }

.prodotto{
  float: left;
  width: 31%;
  margin: 10px;
  position: relative;
}

.cuore{
  position: absolute;
  top: 30px;
  right: 0px;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 30px;
  background-color: white;
}

.absolute{
  position: absolute;
  bottom: 20%;
}

.promozione, .sostenibile{
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 3px;
  font-weight: 600;
}

.promozione{
  background-color: #EB0037;
}
.sostenibile{
  background-color: #00875A;
}

.titolo{
  text-transform: uppercase;
  font-size: 20px;
}

.scontato{
  color: red;
  font-weight: 600;
}

.originale{
  text-decoration: line-through;

}

.immagine{
  
}